.contenedorDetalle{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.imagen {
  max-width: 500px;
  max-height: 500px;

}
.infoProd{
  background-color: green;
  width: 600px;
}