*{
	margin:0;
	padding:0;
	box-sizing: border-box;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

/* estilos navBar */

.navBarComponent {
  background-color:#707845;
  height: 70px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 6px;
  position: fixed;
  top: 0px;
  left: 0px; 
  right: 0px;
}
.logo{
  height: 60px;
  width: auto;
}
.listCategoria ul {
  list-style: none;
  display: flex;
  flex-direction: row;
  position: relative;
  top: 30px;
  left: 380px;
}
.listCategoria ul li p {
  margin: 5px;
  font-size: 15px;
  color: white;
  font-weight: 100;
}
.listCategoria ul a:link {
  text-decoration: none;
}
.imgCart{
  width: 40px;
  height: 40px;
}
.contadorCarrito{
  font-size: 15px;
}
.contenedorTitle{
  display: flex;
  justify-content: center;
  margin-top: 80px;
}
.title{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.title h1 {
  font-size: 70px;
  color:#BE9B53;
  font-weight: 200;
}

/* estilos footer */

.pieDePagina {
  background-color:#707845; 
  height: 30px;
  display:flex;
  flex-direction: row;
  justify-content: center;
  padding: 3px;
  position: fixed;
  bottom: 0px;
  left: 0px; 
  right: 0px;
}
footer p {
  
  color:white;
}

/* estilos items list */

.contenedorItems {
  display: flex;
	justify-content: space-evenly;
	flex-wrap: wrap;
	margin-top: 35px;
}

.item{
  width: 27%;
	margin-bottom: 50px;
	height: 400px;
	box-shadow: 0 0 6px 0 rgba(122, 187, 86, 0.5);
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.imgItem {
  max-width: 300px;
  max-height: 300px;
  overflow: hidden;
  margin-top: 10px;
}
.imgItem img {
  height: 200px;
}
.btn button{
  background-color: #707845;
  border: solid #BE9B53 1px;
  color: white;
  width: 200px;
  margin-bottom: 10px;
}
.item h4 {
  color: #BE9B53;
  margin-top: 10px;
}
.textosCards{
  display: flex;
  flex-direction: column;
  align-items: center;
}
.textosCards p {
  margin-top: 20px;
}

/*estilos categoria */

.categorias {
  display: flex;
	justify-content: space-evenly;
	flex-wrap: wrap;
	margin-top: 35px;
}

/* estilo detalle de producto */

.detalleProducto{
  margin-left: 80px;
  margin-right: 80px;
	margin-top: 20px;
	height: 400px;
	box-shadow: 0 0 6px 0 rgba(122, 187, 86, 0.5);
  overflow: hidden;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}
.imagenDetalle {
  width: 500px;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
}
.imagenDetalle img {
  width: auto;
  height: 350px;
  
}
.contenedorText-btn{
  width: 700px;
  height: 390px;
  overflow: hidden;
  background-color: #BE9B53;
  border-radius: 3px;
  margin: 5px;
}
.textProd{
  margin: 10px;
  max-height: 400px;
  overflow: hidden;
}
.textProd p {
  font-size: 16px;
  margin-bottom: 5px;
  color: white;
}
.contenedoBotones{
  display: flex;
  flex-direction: column;
  align-items: center;
  position: fixed;
  bottom: 80px;
  right: 105px;
}
.countBotones {
  background-color: #707845;
  border: solid #BE9B53 1px;
  color: white;
  width: 30px;
  margin-bottom: 10px;
  margin-right: 10px;
  margin-left: 10px;
}
.btnAgregar{
  background-color: #707845;
  border: solid #BE9B53 1px;
  color: white;
  width: 200px;
}
.btnIrCarrito{
  background-color: #707845;
  border: solid #BE9B53 1px;
  color: white;
  width: 200px;
  position: fixed;
  bottom: 80px;
  right: 105px;
}

